# Node
node_modules/
.next/
.vercel/
pnpm-lock.yaml
package-lock.json
yarn.lock
.turbo/

# Python
__pycache__/
.pytest_cache/
.venv/
*.pyc

# Expo
.expo/
.expo-shared/
dist/

# Env
.env
.env.local
.env.*.local
apps/**/.env

# OS & misc
.DS_Store
.idea/
.vscode/

# Build
build/
coverage/
*.log
